<table class="table">
    <tbody>
        {% for article in pagination %}
            <tr align="left" {% if loop.index is odd %} class="article-tab-color" {% endif %}>
{#				{{dump(article)}}#}
				{{ include('LxFrontendBundle:Default:articleVersion.html.twig', { 'article': article, 'version': version }) }}
			</tr>
		{% endfor %}
	</tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(pagination, '::pagination.html.twig') }}
</div>