{% if version == 'simple' %}
	<td class="td-date-time">
		{{article['p_createdAt']|date("Y:m:d - H:i")}} 
	</td>
	<td class="td-date-time">
		{{article['u_email']}} 
	</td>
	<td>
		{{ article['a_body']|raw}}
	</td>
{% endif %}