<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block pageTitle %}Twitter!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>


    <div class='col-md-12'>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Twitter</a><img class="twitter-logo" src='{{ asset('uploads/documents/twitter.png') }}'  />
                </div>
                <ul class="nav navbar-nav">
					
                </ul>
                <ul class="nav navbar-nav navbar-right">
					{% if app.user %}
						<li><a class="lx-navbar" href="{{ path("logout") }}"><span class="glyphicon glyphicon-user"></span> Wyloguj</a></li>
						{% else %}
						<li><a class="lx-navbar" href="{{ path("login") }}"><span class="glyphicon glyphicon-user"></span> Zaloguj</a></li>
						{% endif %}
				</ul>
			</div>
		</nav> 
		<div>
			<div class="col-sm-2">
				<ul class="nav-left">
					<li  class="left-menu {% if app.request.attributes.get('_route') == path("wall") %} active {% endif %}"><a href="{{ path("wall") }}" data-target-id="wall"><i class="fa fa-home fa-fw"></i>Tablica</a></li>
				</ul>
			</div>
			<div class="col-sm-10">
				{% if app.session.flashBag.has('danger') %}
					<div class="alert alert-danger">
						{% for msg in app.session.flashBag.get('danger') %}
							{{ msg }}
						{% endfor %}
					</div>
				{% endif %}
				{% if app.session.flashBag.has('success') %}
					<div class="alert alert-success">
						{% for msg in app.session.flashBag.get('success') %}
							{{ msg }}
						{% endfor %}
					</div>
				{% endif %}
				<div class="content-title">
					{% block contentTitle %}

					{% endblock %}
				</div>
				{% block container %}

				{% endblock %}
			</div>
		</div>

	</div>


</body>
</html>
