{% extends 'base.html.twig' %}

{% block container %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Home {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>

     
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
