body{margin-top:20px;}
.fa-fw {width: 2em;}

.twitter-logo{
	height:50px;
}
.lx-navbar{
	/*margin: 0px !important;*/
	padding: 0px !important;
}
.content-title{
	margin:10px !important;
	font-size: 20px;
}
.article-tab-color {
	background-color: #F0F8FF
}
.form-wall {
	background-color: #F0F8FF;
	padding: 10px;
	margin-bottom: 10px;
}
.left-menu{
	border:1px solid; background-color: white;
}
.nav-left, li{
	height-min:40px;
	padding:10px;
	margin-bottom: 2px;
}
.nav-left, ul{
	list-style-type: none;
		text-color:red;
}

.td-date-time{
	width:140px;
}
