{% extends '::base.html.twig' %}

{% block pageTitle %}Tablica{% endblock %}
{% block contentTitle %}Tablica{% endblock %}

{% block container %}

	{% if app.user %}
		<div class="form-wall">	
			<h4>Dodaj wiadomość na tablicę</h4>
			<div class="form_row">
				{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
				{{ form_start(form) }}

				{{ form_row(form.body) }}

				{{ form_end(form) }}
			</div>
		</div>
	{% endif %}

	{{ include('LxFrontendBundle:Default:articles.html.twig', { 'pagination': wallArticles, 'version': 'simple' }) }}
{% endblock %}
