
{% extends "::base.html.twig" %}
{#{% extends '::default/index.html.twig' %}#}
{#{% set hideSidebar = true %}#}
{#{% set hideSearch = true %}#}

{% block pageTitle %}Zaloguj się lub zarejestruj{% endblock %}

{% block contentTitle %}Logowanie{% endblock %}

{% block container %}
    <div class="login-register two-cols">
        <div class="col col-bdr">
            {% form_theme loginForm 'bootstrap_3_horizontal_layout.html.twig' %}
            {{ form(loginForm, {'action': path('_check_path')}) }}

        </div>
		   <h5><a href="{{path('register')}}">Zarejestruj się</a></h5>
    </div>
{% endblock %}