{% extends "::base.html.twig" %}

{% block pageTitle %}Rejestracja{% endblock %}
{% block contentTitle %}Rejestracja{% endblock %}

{% block container %}
    <div class="login-register two-cols">
        <div class="col col-bdr">
			<div class="col">
				{% form_theme registerUserForm 'bootstrap_3_horizontal_layout.html.twig' %}
				{{ form(registerUserForm) }}
			</div>

			<h5><a href="{{path('login')}}">Zaloguj się</a></h5>
		{% endblock %}